# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
decentragit-remote
/dgit
/git-dg
/dgit.tar.gz
/decentragit.tar.gz

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

vendor/

dist/

# Vim swp files
.*.swp
.*.swo
